html, body {
        margin: 0;
}

.infobox {
        position: absolute;
        width: 250px;
        padding: 10px;
        background-color: rgba(255,255,255,.75);
}

.center {
    margin: auto, auto;
}

p {
        margin: 0;
}

#search {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#loading-image {
    position:absolute;
    top:30%;
    left:50%;
}
